<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=stream.name%></title>
</head>
<body>
    <h1><%=stream.name%></h1>

    Location: <%=stream.location%> </br>
    <br>
    Fishing Quality: <%=stream.fishing_quality%> </br>
    <br>
    Accessibility: <%=stream.accessibility%> </br>
    <br>
    Recommended Fly Patterns: <%=stream.recommended_flies%> </br>
    <br>
    <br>
    About This Stream: </br>
    <br>
    <%=stream.about_this_stream%> </br>
    <br>
    <nav>
        <a href="/smokytrout">BACK TO HOMEPAGE</a>
    </nav>
  
</body>
</html>